.idea/
site/
5thsrd_offline/
srd/spellcasting/spell_lists/*
srd/spellcasting/spell_indexes/*
srd/gamemaster_rules/magic_item_indexes/*
srd/gamemaster_rules/monster_indexes/*



purecss_theme/inline_styles.html

__pycache__
*.pyc
.venv
